<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/add.css"> <!-- CSS reset -->
    <title>Title</title>
</head>
<body>
<div class="form-style-5">
    <form>
        <fieldset>
            <select id="category_recipe" name="field4">
                <optgroup label="Европейская кухня">
                    <option value="meet">Блюда из мяса</option>
                    <option value="desert">Десерты</option>
                </optgroup>
                <optgroup label="Японская кухня">
                    <option value="roll">Роллы</option>
                    <option value="fish">Блюда из рыбы</option>
                </optgroup>
            </select>
            <legend><span class="number">1</span>Информация о блюде:</legend>
            <label for="ingr_cat">Категория продукта:</label>
            <select id="ingr_cat" name="field4">
                <option value="meet">Мясо
                </option>
                <option value="vegetables">Овощи
                </option>
            </select>
            <label for="ingr">Ингредиент:</label>
            <select id="ingr" name="field4">
                    <option value="beef">Говядина</option>
                    <option value="pork">Свинина</option>
            </select>            <textarea name="field3" placeholder="Количество"></textarea>
        </fieldset>
        <input type="button" value="Добавить игредиент" />
        <p>

        </p>
        <table class="table-fill">
            <thead>
            <tr>
                <th class="text-left">Ингредиент</th>
                <th class="text-left">Количество</th>
                <th class="text-left"></th>
            </tr>
            </thead>
            <tbody class="table-hover">
            <tr>
                <td class="text-left">Помидор</td>
                <td class="text-left">200г</td>
                <td class="text-left"><input type="image" src="img/delete.png" /></td>
            </tr>
            <tr>
                <td class="text-left">Чеснок</td>
                <td class="text-left">2 штуки</td>
                <td class="text-left"><input type="image" src="img/delete.png" /></td>

            </tr>
            <tr>
                <td class="text-left">Соль</td>
                <td class="text-left">Чайная ложка</td>
                <td class="text-left"><input type="image" src="img/delete.png" /></td>

            </tr>
            </tbody>
        </table>
        <p>

        </p>
        <fieldset>
            <legend><span class="number">2</span>Описание рецепта</legend>
            <textarea name="field3" placeholder=""></textarea>
        </fieldset>
        <input type="submit" value="Добавить рецепт" />
    </form>
</div>
</body>
</html>